<div *ngIf="issues">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>No.</th>
				<th>Key</th>
				<th>Created</th>
				<th>Updated</th>
				<th>Priority</th>
				<th>Creator</th>
				<th>Summary</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let issue of issues">
				<td>{{issue.id}}</td>
				<td>
					<a [routerLink]="'/issue/'+issue.key">{{issue.key}}</a>					
				</td>
				<td>{{issue.fields.created | date:'MMM/dd/yyyy h:mma'}}</td>
				<td>{{issue.fields.updated | date:'MMM/dd/yyyy h:mma'}}</td>
				<td>{{issue.fields.priority.name}}</td>
				<td>{{issue.fields.creator.displayName}}</td>
				<td>{{issue.fields.summary}}</td>		
			</tr>
		</tbody>
	</table>
</div>
<div *ngIf="!issues">
	<i class="fa fa-spinner"></i>
</div>
